.places {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 0px;
  flex: 0 1 100%;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.places article h2 {
  font-size: 30px;
  align-self: center;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  margin-left: 24%;
}

.price_by_night p {
  position: absolute;
  top: 13px;
  left: 4px;
  margin: 0;
}

.information {
  align-self: center;
  height: 80px;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  text-align: center;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
  margin: auto;
}

.guest_image {
  margin: auto;
  height: 50px;
  background: url("../images/icon_group.png") no-repeat center;
}

.bed_image {
  margin: auto;
  height: 50px;
  background: url("../images/icon_bed.png") no-repeat center;
}

.bath_image {
  margin: auto;
  height: 50px;
  background: url("../images/icon_bath.png") no-repeat center;
}

.user p {
  margin: 10px 0px 5px 0px;
}

.description p {
  margin: 0px;
}
